@import url('https://fonts.googleapis.com/css2?family=Saira:wght@500&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 150px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 10px #054000);
}
.logo.react:hover {
  filter: drop-shadow(0 0 25px #61fb9caa);
}

body {
  
  margin: 0;
  background: radial-gradient(circle farthest-side, #517c3b, #86b948);
  background-repeat: no-repeat;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.navBar{ 
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
  background-color: #d7f1dac2 !important;
  height: 85px;
  z-index: 999;
}

@media (max-width: 991px) {
  .navBar {
    height: auto; 
    background-color: #d7f1dad9 !important;
  }
}

.navBarList{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}


.navBarText .navDropdownItem{
  background-color: #d7f1daee;
}

.navDropdownItem{
  padding-left: 5px;
}

.navBarText{
  color: black;
  font-size: 20px;
  font-family: 'Saira', sans-serif;
}
.navBarText:hover{
  color: black;
  text-decoration: underline;
  font-size: 23px;
}
.componnetText{
  color: black;
  font-size: 20px;
  font-family: 'Saira', sans-serif;
}

.loginWidgesDiv , .signupwidgesDiv{
  font-family: 'Saira', sans-serif; 
  margin-top: 25px;
  display: flex;
  gap: 20px;
}
.signupwidgesDiv{
  margin: 0;
}
.loginWidges{
  color: black;
  text-decoration: underline;
  text-decoration: none;
}
.loginWidges:hover{
  text-decoration: underline;
  color: rgb(76, 76, 76);
}
.pageContainer{
  margin-top: 150px;
}

.addNewProductPage{
  margin-top: 150px;
}
.productPage{
  font-family: 'Saira', sans-serif; 
  margin-top: 150px;
}
.productListPageBody{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.pagination{
  font-family: 'Saira', sans-serif; 
  display: flex;
  gap: 5px;
}
.pageTitle{
  color: black;
  font-family: 'Saira', sans-serif; 
  margin-bottom: 30PX;
}
.userInputDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.loginForm , .signupForm , .userSettingForm , .addNewProductForm , .commentInputForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.commentInputDiv{
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.detailDiv{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.commentsDiv{
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.errorMessage{
  font-family: 'Saira', sans-serif;
  font-size: 18px;
  color: rgb(146, 26, 26);
}
.primary{
  background-color: #95b984 !important;
  border: #517c3b !important;
}
.alertHeading , .productCard{
  font-family: 'Saira', sans-serif;
}

.rateThumb{
  height: 50px;
  width: 50px;
}
.productImg{
  height: 180px;
  width: auto;
}
.thumbsDiv{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
}
.rateInput{
  display: flex;
  gap: 10px;
}
.detailWeidges{
  display: flex;
  gap: 25px;
}
.thumbsDivInDetail{
  display: flex;
  gap:5px;
  margin-bottom: 10px;
}
.cardBtnDiv{
  margin-top: 15px;
  display: flex;
  gap: 15px;
}
.productList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.commentCard{
  background-color: rgba(255, 255, 255, 0.7) !important;
}
.productDetailPic{
  height: 250px;
}
.productDetail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

#componentBtn{
  color: black;
  font-size: 20px;
  font-family: 'Saira', sans-serif;
}